/* RESET CSS */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    /* =========================
       DISPLAY
    ========================= */

    /* Display */
    --Display: normal 300 192.93px/105% "Work Sans", sans-serif;


    /* =========================
       HEADINGS
    ========================= */

    /* Heading 1 */
    --Heading-1: normal 300 80px/100% "Work Sans", sans-serif;

    /* Heading 2 */
    --Heading-2: normal 300 60px/105% "Work Sans", sans-serif;

    /* Heading 3 */
    --Heading-3: normal 300 40px/105% "Work Sans", sans-serif;

    /* Heading 4 */
    --Heading-4: normal 300 30px/105% "Work Sans", sans-serif;

    /* Heading 5 */
    --Heading-5: normal 300 18px/105% "Work Sans", sans-serif;


    /* =========================
       TEXT
    ========================= */

    /* Quote */
    --Quote: normal 300 30px/110% "Work Sans", sans-serif;

    /* Paragraph */
    --Paragraph: normal 400 16px/110% "Work Sans", sans-serif;

    /* Label 1 */
    --Label-1: normal 500 12px/110% "Work Sans", sans-serif;

    /* Label 2 */
    --Label-2: normal 400 15px/100% "Work Sans", sans-serif;

    --Brand-Title: normal 600 18px/110% "Work Sans", sans-serif;


    /* =========================
       CORES BACKGROUND
    ========================= */

    --background-1: #A0F1BD;
    --background-2: #F9F9F9;
    --background-3: #2E4F21;
    --background-4: #FFFFFF;
    --background-5: #F4F7F5;
    --background-6: #D2F8DC;


    /* =========================
       CORES DESTAQUE 
    ========================= */

    --accent-1: #D2F8DC;
    --accent-2: #D7D7D7;

    --paragrafo: #2E4F21;
    --on-accent-1: #FFFFFF;
    --on-accent-2: #506349;
    --on-accent-3: #7D9276;
    --on-accent-4: #D5E4D0;


    /* =========================
       CORES DIVISÓRIAS
    ========================= */

    --divider-1: #2E4F21;
    --divider-2: #C7C7C7;


    /* =========================
       SPACING - MOBILE
    ========================= */

    --padding-mobile-inline: 16px;
    --padding-mobile-section-y: 40px;
    --spacing-hero-text: 40px;
    --padding-hero-cta: 12px;


    /* =========================
       SPACING - TABLET
    ========================= */

    --padding-tablet-inline: 24px;
    --padding-tablet-section-y: 100px;


    /* =========================
       SPACING - DESKTOP
    ========================= */

    --padding-desktop-inline: 24px;
    --padding-desktop-section-y: 100px;


    /* =========================
       GAP - HERO
    ========================= */

    --hero-gap-mobile: 40px;
    --hero-text-gap-mobile: 16px;
    --hero-gap-tablet: 32px;
    --hero-gap-desktop: 32px;


    /* =========================
       GAP - HERO
    ========================= */

    --border-radius-hero-cta: 51px;
}


/* HEADER */
header {
    max-width: 1300px;
    margin: auto;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        padding: 16px;


    }
}

/* logo */
.logo {
    a {
        font: var(--Brand-Title);
        word-spacing: -4px;
        color: var(--paragrafo);

    }
}


/* Links de navegação do header */
.nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;

    /* Link de serviços */
    a {
        font: var(--Label-1);
        color: var(--paragrafo);
    }

    /* Botão de agendamentos */
    .botao-agendar {
        display: block;
        padding: 12px;
        background-color: var(--paragrafo);
        color: var(--on-accent-1);
        border-radius: 51.57px;
        transition: 0.6s ease;

        &:hover {
            background-color: var(--background-4);
            color: var(--paragrafo);
            transform: translateY(-2px);
        }
    }
}

.fundo-verde {
    background-color: var(--background-1);
    z-index: -1;
}



/* Hero Section */
.hero {
    max-width: 1300px;
    margin: auto;
    padding: var(--padding-mobile-section-y) var(--padding-mobile-inline);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--hero-gap-mobile);

    .img-hero{
        width: 343px;
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
}

.text{
    display: flex;
    flex-direction: column;
    gap: var(--hero-text-gap-mobile);

    h1{
        font-weight: 500;
        font-family: "Work sans", sans-serif;
        letter-spacing: -8%;
        color: var(--paragrafo);
        word-spacing: -5%;
    }

    p{
        font: var(--Paragraph);
        color: var(--paragrafo);
        margin-bottom: var(--spacing-hero-text);
    }
}

.hero-text-container{
    a{
        background-color: var(--paragrafo);
        color: var(--on-accent-1);
        font: var(--Label-1);
        padding: var(--padding-hero-cta);
        border-radius: var(--border-radius-hero-cta);
        transition: 0.6s ease;
        display: inline-block;
    }

    a:hover{
        color: var(--paragrafo);
        transform: translateY(-2px);
        background-color: var(--background-4);
    }
}