/* RESET CSS */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    /* =========================
       DISPLAY
    ========================= */

    /* Display */
    --Display: normal 300 192.93px/105% "Work Sans", sans-serif;


    /* =========================
       HEADINGS
    ========================= */

    /* Heading 1 */
    --Heading-1-mobile: normal 400 40px/100% "Work Sans", sans-serif;
    --Heading-1-tablet: normal 400 58px/100% "Work Sans", sans-serif;
    --Heading-1-desktop: normal 400 80px/100% "Work Sans", sans-serif;

    /* Heading 2 */
    --Heading-2-mobile: normal 400 32px/105% "Work Sans", sans-serif;
    --Heading-2-tablet: normal 300 48px/105% "Work Sans", sans-serif;
    --Heading-2-desktop: normal 300 60px/105% "Work Sans", sans-serif;

    /* Heading 3 */
    --Heading-3-mobile: normal 400 28px/105% "Work Sans", sans-serif;
    --Heading-3-tablet: normal 400 34px/105% "Work Sans", sans-serif;
    --Heading-3-desktop: normal 400 40px/105% "Work Sans", sans-serif;

    /* Heading 4 */
    --Heading-4-mobile: normal 400 22px/105% "Work Sans", sans-serif;
    --Heading-4-tablet: normal 400 26px/105% "Work Sans", sans-serif;
    --Heading-4-desktop: normal 400 30px/105% "Work Sans", sans-serif;

    /* Heading 5 */
    --Heading-5-mobile: normal 400 18px/105% "Work Sans", sans-serif;
    --Heading-5-tablet: normal 400 18px/105% "Work Sans", sans-serif;
    --Heading-5-desktop: normal 400 18px/105% "Work Sans", sans-serif;


    /* =========================
       TEXT
    ========================= */

    /* Quote */
    --Quote-mobile: normal 300 18px/110% "Work Sans", sans-serif;
    --Quote-tablet: normal 300 24px/110% "Work Sans", sans-serif;
    --Quote-desktop: normal 300 30px/110% "Work Sans", sans-serif;

    /* Paragraph */
    --Paragraph: normal 400 16px/110% "Work Sans", sans-serif;

    /* Label 1 */
    --Label-1: normal 500 12px/110% "Work Sans", sans-serif;

    /* Label 2 */
    --Label-2: normal 500 15px/100% "DM Sans", sans-serif;

    --Brand-Title: normal 600 18px/110% "Work Sans", sans-serif;


    /* =========================
       CORES BACKGROUND
    ========================= */

    --background-1: #A0F1BD;
    --background-2: #F9F9F9;
    --background-3: #2E4F21;
    --background-4: #FFFFFF;
    --background-5: #F4F7F5;
    --background-6: #D2F8DC;


    /* =========================
       CORES DESTAQUE 
    ========================= */

    --accent-1: #D2F8DC;
    --accent-2: #D7D7D7;

    --paragrafo: #2E4F21;
    --on-accent-1: #FFFFFF;
    --on-accent-2: #506349;
    --on-accent-3: #7D9276;
    --on-accent-4: #D5E4D0;


    /* =========================
       CORES DIVISÓRIAS
    ========================= */

    --divider-1: #2E4F21;
    --divider-2: #C7C7C7;


    /* =========================
       SPACING - MOBILE
    ========================= */

    --padding-mobile-inline: 16px;
    --padding-mobile-section-y: 40px;
    --spacing-hero-text: 40px;
    --padding-hero-cta: 12px;


    /* =========================
       SPACING - TABLET
    ========================= */

    --padding-tablet-inline: 24px;
    --padding-tablet-section-y: 100px;


    /* =========================
       SPACING - DESKTOP
    ========================= */

    --padding-desktop-inline: 24px;
    --padding-desktop-section-y: 100px;


    /* =========================
       GAP - HERO
    ========================= */

    --hero-gap-mobile: 40px;
    --hero-text-gap-mobile: 16px;
    --hero-gap-tablet: 32px;
    --hero-gap-desktop: 32px;


    /* =========================
       border radius - mobile
    ========================= */
    --radius-8: 8px;
    --radius-20: 20px;
    --border-radius-hero-cta: 51px;


    /* =========================
       global spacing
    ========================= */
    --spacing-0: 0px;
    --spacing-100: 4px;
    --spacing-200: 8px;
    --spacing-300: 12px;
    --spacing-400: 16px;
    --spacing-500: 24px;
    --spacing-600: 32px;
    --spacing-700: 40px;
    --spacing-800: 48px;
    --spacing-900: 64px;
    --spacing-1000: 80px;
    --spacing-1100: 100px;
    --spacing-1200: 120px;
}


/* HEADER */
header {
    max-width: 1300px;
    margin: auto;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        padding: 16px;


    }
}

/* logo */
.logo {
    a {
        font: var(--Brand-Title);
        word-spacing: -4px;
        color: var(--paragrafo);

    }
}


/* Links de navegação do header */
.nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;

    /* Link de serviços */
    a {
        font: var(--Label-1);
        color: var(--paragrafo);
    }

    /* Botão de agendamentos */
    .botao-agendar {
        display: block;
        padding: 12px;
        background-color: var(--paragrafo);
        color: var(--on-accent-1);
        border-radius: 51.57px;
        transition: 0.6s ease;

        &:hover {
            background-color: var(--background-4);
            color: var(--paragrafo);
            transform: translateY(-2px);
        }
    }
}

.fundo-verde {
    background-color: var(--background-1);
    z-index: -1;
}



/* Hero Section */
.hero {
    max-width: 1300px;
    margin: auto;
    padding: var(--padding-mobile-section-y) var(--padding-mobile-inline);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--hero-gap-mobile);

    .img-hero {
        width: 343px;
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
}

.text {
    display: flex;
    flex-direction: column;
    gap: var(--hero-text-gap-mobile);

    h1 {

        font: var(--Heading-1-mobile);
        letter-spacing: -8%;
        color: var(--paragrafo);
        word-spacing: -5%;
    }

    p {
        font: var(--Paragraph);
        color: var(--paragrafo);
        margin-bottom: var(--spacing-hero-text);
    }
}

.hero-text-container {
    a {
        background-color: var(--paragrafo);
        color: var(--on-accent-1);
        font: var(--Label-1);
        padding: var(--padding-hero-cta);
        border-radius: var(--border-radius-hero-cta);
        transition: 0.6s ease;
        display: inline-block;
    }

    a:hover {
        color: var(--paragrafo);
        transform: translateY(-2px);
        background-color: var(--background-4);
    }
}


/* Sessão de Serviços */

/* Intro section */
.servicos {
    max-width: 1300px;
    margin: auto;


    padding: var(--padding-mobile-inline);
}

.intro-section {
    text-align: center;
}

.content-servicos {
    padding: var(--spacing-1200) var(--spacing-0);

    h2 {
        font: var(--Label-2);
        color: var(--paragrafo);
    }

    p:first-of-type {
        font: var(--Heading-2-mobile);
        color: var(--paragrafo);
        margin: var(--spacing-500) var(--spacing-0);
    }

    p:nth-of-type(2) {
        margin-bottom: var(--spacing-500);
        font: var(--Paragraph);
        color: var(--paragrafo);
    }

    a {
        padding: var(--spacing-300);
        transition: 0.6s ease;
        display: inline-block;
        background-color: var(--paragrafo);
        color: var(--on-accent-1);
        border-radius: var(--border-radius-hero-cta);
        font: var(--Label-1);
    }

    a:hover {
        background-color: var(--background-1);
        color: var(--paragrafo);
        transform: translateY(-2px);
    }
}

/* Cards de serviços */
.container-servicos {
    padding: var(--padding-mobile-inline);
}

.card {
    max-width: 752px;
    background-color: var(--accent-1);
    margin-bottom: var(--spacing-400);
    padding: var(--spacing-400);
    border-radius: var(--radius-20);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;

    img {
        width: 100%;
    }
}

.card-text {
    h3 {
        font: var(--Heading-3-mobile);
        color: var(--paragrafo);
    }

    p {
        color: var(--paragrafo);
        font: var(--Paragraph);
        margin: var(--spacing-500) var(--spacing-0) var(--spacing-900) var(--spacing-0);
    }
}

.card-labels {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    margin-bottom: var(--spacing-700);
}

.label {
    color: var(--on-accent-2);
    border-radius: var(--radius-8);
    text-align: center;
    background-color: var(--background-4);
    padding: var(--spacing-300);
    font: var(--Label-1);
    transition: 0.6s ease;
    cursor: default;

    &:hover {
        background-color: var(--background-1);
        transform: translateY(-2px);
    }
}

/* Sessão de Depoimentos */

.testimonials-section {
    background-color: var(--background-2);
    max-width: 1300px;
    margin: auto;
    padding: var(--spacing-600);

    h2 {
        color: var(--paragrafo);
        font: var(--Heading-2-mobile);
        text-align: center;
    }


}

.fundo {
    background-color: #FFFFFF;
    padding: 24px 16px;
}

.testimonial-display {

    footer {
        display: flex;
        align-items: center;
        gap: var(--spacing-500);
        margin-bottom: var(--spacing-1000);

        img {
            max-width: 48px;
            height: 48px;
            border-radius: var(--spacing-400);
        }

        cite{
            color: var(--paragrafo);
            font: var(--Paragraph);
        }
    }
}

/* Textos do botão */
.text-button {
    font: var(--Label-1);
    border-top: 1px solid var(--on-accent-3);
    text-align: left;

    p{
        color: var(--on-accent-3);
    }

    p:first-of-type {
        margin: var(--spacing-200) var(--spacing-0);
        color: var(--paragrafo);
    }
}

.testimonial-trigger {
    padding: 16px 12px;
    display: flex;
    align-items: flex-start;
    max-width: 90px;
    max-height: 113px;
    border: none;
    background: none;
    border-radius: 8px;
}

.testimonial-selector {
    gap: 2px;
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-700);
    margin-bottom: var(--spacing-700);

}

.active {
    font: var(--Label-1);
    background-color: var(--background-3);

    .text-button {

        p:first-of-type {
            color: var(--background-4);
        }

       
    }

}

.testimonial-text{
    font: var(--Quote-mobile);
    color: var(--paragrafo);
    margin-bottom: var(--spacing-800);

}

.testimonial-image{
    img{
        max-width: 100%;
    }
}